.main{
    padding: 30px;
    color: var(--color-white)!important;
}

.platform,.stack{
    margin-bottom: 30px;
    clear: both;
}

.title{
    font-size: 24px;
    padding-bottom: 18px;
}

.content{
    font-size: 20px;
    font-weight: 200;
}

.platform .content .item,.stack .content .item{
    display: inline-block !important;
    cursor: pointer;
}

.platform .content .item img,.stack .content .item img{
    display: inline-block !important;
    width: auto;
    height: 35px;
}

.stack .content .stack-title{

    font-weight: normal;
    display: inline-block !important;
}

.stack .content .stack-main{
    margin-left: 2em;
    display: inline-block !important;
}

.contact .content{
    cursor: pointer;
}

.qr-code{
    width: 250px;
}

.modal-text{
    padding-top: 10px;
    color: var(--color-white);
    font-size: 21px;
    font-weight: 200;
}

@media screen and (max-width: 576px) {
    .main{
        padding: 20px;
    }

    .platform,.stack{
        margin-bottom: 18px;
        clear: both;
    }

    .title{
        font-size: 18px;
        padding-bottom: 10px;
    }

    .stack .content .stack-title{
        display: block !important;
        margin-top: 10px;
    }

    .content{
        font-size: 14px;
    }

    .platform .content .item img,.stack .content .item img{
        display: inline-block !important;
        width: auto;
        height: 25px;
    }

    .qr-code{
        width: 150px;
    }

    .modal-text{
        font-size: 14px;
        font-weight: 200;
    }
}
