.mobile{
  display: none;
}

.pc .line{
  width: 99vw;
  height: 1px;
  background: #333333;
}

.pc .row div{
  padding: 18px 0;
  border-left: 1px solid #333;

}

.pc .row div:last-child{
  border-right: 1px solid #333;
}

.pc .row div span{
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 10px;
  margin-left: 10px;
}

.pc .row div img{
  display: block;
  width: 18px;
}

.pc .row div img:first-child{
  margin-left: 2.5vw;
}

.pc .row div img:last-child{
  margin-right: 2.5vw;
}

.focus{
  cursor: pointer;
}

.qr-code{
  width: 250px;
}

.modal-text{
  font-size: 21px;
  font-weight: 200;
}


@media screen and (max-width: 992px) {
  .pc .row div img:first-child{
    margin-left: 1.5vw;
  }

  .pc .row div img:last-child{
    margin-right: 1.5vw;
  }
}

@media screen and (max-width: 768px) {
  .pc .row div img{
    width: 14px;
  }

  .pc .row div img:first-child{
    margin-left: 5px;
  }

  .pc .row div img:last-child{
    margin-right: 5px;
  }
}

@media screen and (max-width: 576px) {
  .mobile{
    display: block;
  }
  .pc{
    display: none;
  }
  .nav-modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    pointer-events: none;
    opacity: 0;
    transition: all .8s ease-in-out;
    font-size: 21px;
    font-weight: 300;
    padding-bottom: 120px;
  }

  .nav-modal div{
    padding: 10px 0 10px 10px;
    letter-spacing: 10px;
  }

  .mobile .left img{
    display: block;
    width: 8vw;
    margin-right: 25px;
  }

  .mobile .right{
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-left: 1px solid #333;
    z-index: 999;
    transition: all .8s ease-in-out;
  }

  .mobile .right .line,
  .mobile .right .line::before,
  .mobile .right .line::after{
    height: 3px;
    width: 30px;
    background: #333;
    border-radius: 2px;
    position: relative;
    transition: all .8s ease-in-out;
  }

  .mobile .right .line{
    position: relative;
  }

  .mobile .right .line::before{
    content:'';
    position: absolute;
    top: -12px;
  }

  .mobile .right .line::after{
    content:'';
    position: absolute;
    top: 12px;
  }

  .mobile .active{
    border-left: 1px solid transparent;
  }

  .mobile .active .line{
    background: transparent;
  }

  .mobile .active .line::before{
    top: 0;
    transform: rotate(45deg);
  }

  .mobile .active .line::after{
    top: 0;
    transform: rotate(-45deg);
  }

  .mobile .active.nav-modal{
    z-index: 100;
    pointer-events: all;
    opacity: 1;
  }

  .qr-code{
    width: 150px;
  }

  .modal-text{
    font-size: 14px;
    font-weight: 200;
  }
}


